<a href="https://colab.research.google.com/github/DavidJeonKr/lab_python/blob/master/p00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#pandas
import pandas as pd

In [3]:
pd.DataFrame?

In [6]:
df = pd.DataFrame( 
{ "a" : [4,5,6],
 "b" : [7,8,9],
 "c" : [10,11,12],
})

In [17]:
df["a"]

0    4
1    5
2    6
Name: a, dtype: int64

In [16]:
df[["a","b"]]

   a  b
0  4  7
1  5  8
2  6  9

In [15]:
df.head

<bound method NDFrame.head of    a  b   c
0  4  7  10
1  5  8  11
2  6  9  12>

In [14]:
df.plot