<a href="https://colab.research.google.com/github/DavidJeonKr/lab_python/blob/master/py00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple (tuple)

튜플은 몇가지 점을 제외하곤 리스트와 거의 비슷하면 리스트와 다른 점
* 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 두러싼다
* 리스트와 그 값의 생성 or 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

# 튜플 다루기

* 인덱싱 하기

In [4]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [8]:
t1[3]

'b'

* 슬라이싱 하기

In [10]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

* 튜플 더하기

In [11]:
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

* 튜플 곱하기

In [12]:
t2 * 3

(3, 4, 3, 4, 3, 4)

* 튜플 길이 구하기

In [13]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

# 딕셔너리 자료형

```
사람은 누구든지 '이름' = '홍길동', '생일' = '몇 월 며칠' 등으로 구별할 수 있다. 파이썬은 영리하게도 이러한 대응 관계를
나타낼 수 있는 자료형을 가지고 있다. 요즘 사용하는 대부분의 언어도 이러한 대응 관계를 나타내는 자료형을 갖고 있는데,
이를 연관 배열(Associative array) 또는 (Hash)라고 한다.
파이썬에서는 이러한 자료형을 딕셔너리(Dictionary)라고 하는데, 단어 그대로 해석하면 사전이라는 뜻이다. 
즉'people' 이라는 단어에 '사람', 'baseball' 이라는 단어에 '야구'라는 뜻이 부합되듯이 딕셔너리는 Key와 Value를 한쌍으로
갖는 자료형이다.
```

In [14]:
# 기본 딕셔너리
# {Key1:Value1, Key2:Value2, Key3:balue3, ...}

In [17]:
dic = {'name':'pey', 'phone':'01011112222', 'birth':'0922'}

In [22]:
#del dic['name']
dic

{'birth': '0922', 'phone': '01011112222'}

In [24]:
grade = {'pey':10, 'juliet':99}
grade['pey']

10

In [26]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [28]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [30]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [31]:
l1[0]

1

In [32]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [33]:
t1[0]

1

In [35]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [37]:
#교집합
s1 & s2

{4, 5, 6}

In [38]:
s1.intersection(s2)

{4, 5, 6}

In [39]:
#합집합
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [41]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
#차집합
s1 - s2

{1, 2, 3}

In [44]:
s2 - s1

{7, 8, 9}

In [45]:
s1.difference(s2)

{1, 2, 3}

In [46]:
s2.difference(s1)

{7, 8, 9}

In [48]:
#값 1개 추가하기
s1 = set({1,2,3})
s1.add(4)
s1

{1, 2, 3, 4}

In [50]:
a = {'name':'pey', 'phoen':'010-1111-2222', 'birth':'0922'}
print(a.get('nokey'))

None

In [53]:
def add(a, b):
    return a+b
a = 3
b = 4
c = add(a, b)
print(c)
# 매개변수 : parameter
# 매개변수는 함수에 입력으로 전달된 값을 받는 변수를 의미한다
# 인수 : arguments
# 인수는 함수를 호출할 때 전달하는 입력값을 의미한다.

7

# 머신러닝
## 분류하는 문제
* 1이야 2야