<a href="https://colab.research.google.com/github/DavidJeonKr/lab_python/blob/master/py10_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(Function)

*   **함수(function)**: 기능을 수행하는 코드 블록.
*   **인수(argument)**: 함수를 호출할 때, 함수에게 전달하는 값(들).
*   **매개변수(parameter)**: argument를 저장하기 위해서, 함수를 정의할 때 선언하는 (지역) 변수.
*   **반환 값(return value)**: 함수가 기능 수행의 결과로 반환하는 값.
    * 반환 값이 있는 함수
    * 반환 값이 없는 함수

In [ ]:
result = len([1, 2, 3, 4, 5])
# function: len
# argument: [1, 2, 3, 4, 5]
# 함수 호출(call, invoke): len([1, 2, 3, 4, 5])
# return value: 5

In [ ]:
result

5

# 함수 정의(선언) 방법

```
def function_name([param1, ...]):
    ["""문서화 주석(documentaion comment): 함수에 대한 설명"""]
    함수 기능 작성(코드)
    [return 반환 값]
```

In [ ]:
def subtract(x, y):
    """숫자 2개(x, y)를 전달받아서, x - y를 반환하는 함수.
    """
    return x - y

In [ ]:
result = subtract(1, 2)
result

-1

파이썬은 2개 이상의 값을 반환하는 함수를 정의할 수 있음.

In [ ]:
def plus_and_minus(x, y):
    """2개의 숫자 x, y를 전달받아서, x+y와 x-y를 반환하는 함수.
    """
    return x + y, x - y

In [ ]:
result = plus_and_minus(1, 2)
result  #> tuple

(3, -1)

In [ ]:
# tuple decomposition(분해): x, y = (3, -1)
plus, minus = plus_and_minus(1, 2)
print(plus)
print(minus)

3
-1

값을 반환하지 않는 함수

In [ ]:
def repeat_messages(message, n):
    """문자열 message와 양의 정수 n을 전달받아서,
    전달받은 문자열을 n번 반복해서 출력하는 함수.
    """
    for _ in range(n):
        print(message)

    # return None  # 반환 값이 없다는 것을 명시적으로 작성.
    # 반환 값이 없는 경우 return None 문장을 보통 생략함.

In [ ]:
result = repeat_messages('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

In [ ]:
print(result)  #> None: 값이 없음.

None

# 함수 정의/호출 연습

In [ ]:
import random  # 난수 관련 함수들을 사용하기 위해서
import math as m # 수학 함수들을 사용하기 위해서

## Ex 1.

* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환.

In [ ]:
def make_list(start, end, n):
    """ start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환. """
    result = [random.randrange(start, end) for _ in range(n)]
    return result

arr = make_list(0, 25, 5)
print(arr)

[0, 3, 14, 15, 9]

## Ex 2.

* 함수 이름: calc_sum
* 기능: 숫자들을 저장하고 있는 리스트의 모든 원소들의 합을 반환.

In [ ]:
def calc_sum(numbers):
    """ 숫자들을 저장하고 있는 리스트의 모든 원소들의 합을 반환. """
    total = 0
    for x in numbers:
        total += x
    return total

sum1 = calc_sum([1,2,3,4])
print(sum1)

10

## Ex 3.

* 함수 이름: calc_mean
* 기능: 숫자들을 저장하고 있는 리스트의 모든 원소들의 평균을 반환.

In [ ]:
def calc_mean(numbers):
    """ 숫자들을 저장하고 있는 리스트의 모든 원소들의 평균을 반환. """
    total = 0
    for x in numbers:
        total += x
    result = total/len(numbers)
    return result

mean = calc_mean([2,3,4,5])
print(mean)

3.5

In [ ]:
def calc_mean_ver1(numbers):
    return calc_sum(numbers) / len(numbers)
mean = calc_mean_ver1([1,2,3,4,5])
print(mean)

3.0

## Ex 4.

* 함수 이름: calc_variance
* 기능: 숫자들을 저장하고 있는 리스트의 원소들의 분산을 반환.

In [ ]:
def calc_variance(numbers):
    """숫자들을 저장하고 있는 리스트의 원소들의 분산을 반환. """
    total = 0
    for x in numbers:
        total += x
    # 평균
    mean = total/len(numbers)
    # 편차(numbers - 평균) 제곱 합
    dev = 0
    for x in numbers:
        dev+=pow(x-mean,2)
    # print(f'dev:', dev)
    var = dev/len(numbers)
    return var
var = calc_variance([10,20,30,40,50])
print(var)

200.0

In [ ]:
def calc_variance_ver1(numbers):
    mean = calc_mean_ver1(numbers)
    dev = [(x - mean) ** 2 for x in numbers]
    # print(f'dev:', dev)
    dev = m.fsum(dev)
    var = dev/len(numbers)
    return var
var = calc_variance_ver1([10,20,30,40,50])
print(var)

200.0

## Ex 5.

* 함수 이름: calc_stddev
* 기능: 숫자들을 저장하고 있는 리스트의 원소들의 표준편차를 반환.

In [ ]:
def calc_stddev(numbers):
    """숫자들을 저장하고 있는 리스트의 원소들의 분산을 반환. """
    total = 0
    for x in numbers:
        total += x
    # 평균
    mean = total/len(numbers)
    # 편차(numbers - 평균) 제곱 합
    dev = 0
    for x in numbers:
        dev+=pow(x-mean,2)
    var = dev/len(numbers)
    sd = pow(var,1/2)
    return sd
sd = calc_stddev([10,20,30,40,50])
print(sd)

14.142135623730951

In [ ]:
def calc_stddev_ver1(numbers):
    dev = calc_variance_ver1(numbers)
    sd = m.sqrt(dev)
    return sd
sd = calc_stddev_ver1([10,20,30,40,50])
print(sd)

14.142135623730951

## Ex 6.

* 함수 이름: find_max_and_min
* 기능: 숫자들을 저장하고 있는 리스트에서 최댓값과 최솟값을 반환.

In [ ]:
def find_max_and_min(numbers):
    """숫자들을 저장하고 있는 리스트에서 최댓값과 최솟값을 반환. """
    num_max = max(numbers)
    num_min = min(numbers)
    return num_max, num_min

find_max_and_min([1,2,3,4,5])

(5, 1)